@import './reset.css';
@import './variables.css';

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    min-width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

border {
    border: 1px solid var(--color-border);
}

h1 {
    color: var(--color-title);
    font-size: calc(var(--size-base) * 12);
    font-family: var(--font2);
}

span {
    color: var(--color-p2);
    font-size: calc(var(--size-base) * 11);
    font-family: var(--font2);
}