@import './css_reset.css';
@import './variables.css';

html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    min-width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    color: var(--color-title);
    font-size: var(--size-xl);
    font-family: var(--font1);
}
h2 {
    color: var(--color-title);
    font-size: var(--size-lg);
    font-family: var(--font1);
}
h3 {
    color: var(--color-title);
    font-size: var(--size-md);
    font-family: var(--font1);
}
p {
    color: var(--color-p);
    font-size: var(--size-base);
    font-family: var(--font1);
}