/* Global variables */
:root {
    --color-title: #000000;
    --color-title2: #707070;
    --color-nav-active: #2563eb;
    --color-p: #000000;
    --color-p2: #695a4d;

    --color-border: #000000;

    --color-bg: white;
    --color-fg: rgba(228, 223, 220, 0.658);

    --size-base: 18px;
    --size-sm: calc(var(--size-base) * 1.1);
    --size-md: calc(var(--size-base) * 1.4);
    --size-lg: calc(var(--size-base) * 2.2);
    --size-xl: calc(var(--size-base) * 2.4);
  
    --radius-sm: calc(var(--size-base) / 2);
  }

.dark {
    --color-title: #ffffff;
    --color-title2: #707070;
    --color-nav-active: #60a5fa;
    --color-p: #ffffff;
    --color-p2: #695a4d;

    --color-border: #ffffff;

    --color-bg: #000000;
    --color-fg: rgba(236, 236, 236, 0.13);
}