.header {
    height: 100px;
    width: 100%;

    display: flex;
}

.left {
    height: 100%;
    flex: 1;

    display: flex;
    justify-content: end;
    align-items: end;
}

.center {
    height: 100%;
    width: auto;
    flex: 3;
    border-bottom: 0.5px solid var(--color-border);

    display: flex;
    /* justify-content: center; */
    align-items: end;
    position: relative;
}
.center h1 {
    font-size: var(--size-xl);
    color: var(--color-title);
    position: relative;
    bottom: -12px;
}

.right {
    height: 100%;
    width: auto;
    flex: 1;

    display: flex;
    /* justify-content: end; */
    align-items: end;

    position: relative;
}