.header {
    height: 100px;
    border-bottom: 1px solid var(--color-border);

    display: flex;
}

.left {
    height: 100%;
    flex: 1;
}

.center {
    height: 100%;
    flex: 2;

    display: flex;
    /* justify-content: center; */
    align-items: end;
}
.center h1 {
    font-size: var(--size-xl);
    color: var(--color-title);
}

.right {
    height: 100%;
    flex: 1;
}