.nav {  
    height: 100%;
    width: auto;
    /* padding-bottom: 5px; */
    margin-left: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -4px;
}

.list {
    height: 100%;
    width: 100%;

    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.list li {

    margin-left: 10px;


    font-size: 19px;
    text-decoration: none;
}

.list li a {
    text-decoration: none;
    color: var(--color-title);
}

.list li a.active {
    color: var(--color-nav-active);
    font-weight: 600;
}