
.header {
    height: 60px;
    margin: 0;
    border-bottom: 1px solid #f1ddd01f;
    background-color: #ffffff;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 20px;
    position: relative;

}
.header h1 {
    display: flex;
    /* flex-direction: column; */
    align-items: end;
    position: relative;
}
.header h1 span {
    /* font-size: 20px; */
    font-weight: 400;
    /* bottom: 3px; */
    left: 15px;
    position: relative;
}

.right, .left {
    width: 30%;
    height: 100%;
}

.left {
    display: flex;
    /* justify-content: center; */
    align-items: end;
}
.right {
    display: flex;
    justify-content: end;
    align-items: center;
}
 .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: rgb(163, 124, 91);
 }