.page {
    height: 100%;
    margin: 20px;
    padding: 20px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    /* border: 1px solid var(--color-border); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.item {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
}

.item h3 {
    margin-bottom: 10px;
}

.item h3 a {
    text-decoration: none;
    color: var(--color-title2);
}

.item div {
    margin-bottom: 10px;
}

.item p {
    margin-bottom: 10px;
}

.article {
    margin: 20px 0px 20 0px;
    border: 1px solid var(--color-border);
}