.page {
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    /* margin: 20px;
    padding: 20px; */
    /* background-color: dodgerblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    height: 200px;
    width: 100%;
    padding: 20px;
    /* background-color: rgb(235, 235, 235); */
    border-bottom: 1px solid var(--color-border);
    display: flex;
    flex-shrink: 0;
    /* justify-content: center;
    align-items: center; */
}

.top .left {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.top .right {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 100%;
    width: 100%;
    padding: 20px;
    /* background-color: rgb(255, 248, 238); */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    /* border: 1px solid var(--color-border); */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.item {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
}

.item h3 {
    margin-bottom: 10px;
}

.item h3 a {
    text-decoration: none;
    color: var(--color-title2);
}

.item div {
    margin-bottom: 10px;
}

.item p {
    margin-bottom: 10px;
}

.article {
    margin: 20px 0px 20 0px;
    border: 1px solid var(--color-border);
}

.form {
    min-height: 80px;
    width: 95%;
    /* border: 1px solid var(--color-border); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form_item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: var(--size-base); */
}

.form_item label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.form_item input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-border);
    padding: 10px;
    margin: var(--size-base);
    background-color: var(--color-bg);
}

/* .markdown {

} */
.markdown h1 {
    margin-bottom: 20px;
    color: rgb(85, 64, 50);
}
.markdown h2 {
    margin-bottom: 20px;
    color: rgb(85, 64, 50);
}
.markdown h3 {
    margin-bottom: 20px;
    color: rgb(85, 64, 50);
}
.markdown p {
    margin-bottom: 20px;
}
.markdown p img {
    max-width: 50%;
    /* border: 2px solid red; */
    float: right;
}
.markdown li {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
.markdown ul, .markdown ol{
    padding: 0;
    margin-left: 20px;
    margin-bottom: 20px;
}