
.grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid .card {
    display: block;
    height: 250px;
    border: 0.5px solid var(--color-border);
    /* border-radius: var(--radius-sm); */
    padding: 20px;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
}

.card .top {
    background-color: red;
}

.card .content {
    margin-top: 20px;
}

.list {
    margin-top: 20px;
}

.list .item {
    display: block;
    padding: var(--size-md) 0;
    border-bottom: 1px solid var(--color-border);
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.banner {
    height: 250px;
    padding: 20px;
    margin-top: 20px;
    border: 0.5px solid var(--color-border);

    cursor: pointer;
}